<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title> Lista de mascotas doblemente enlazada </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>
    <h:body>

        <h:form>

            <p:panel header="Lista  de perros">

                <h:panelGrid columns="2" id="hpgDatos">

                    <p:outputLabel value="Nombre:" />
                    <p:outputLabel  value="#{listaMascotasController.temp.dato.nombre}"/>

                    <p:outputLabel value="Raza:" />
                    <p:outputLabel value="#{listaMascotasController.temp.dato.raza}" />

                    <p:outputLabel value="Edad:" />
                    <p:outputLabel value="#{listaMascotasController.temp.dato.edad}" />

                    <p:outputLabel value="Cantidad de Pulgas:" />
                    <p:outputLabel value="#{listaMascotasController.temp.dato.numeroPulgas}" />


                </h:panelGrid>

                <h:panelGrid columns="5">
                    <p:commandButton value="Primero" update="hpgDatos" action="#{listaMascotasController.irAlPrimero()}" />  
                    <p:commandButton value="Anterior" update="hpgDatos" action="#{listaMascotasController.irAnterior()}" />
                    <p:commandButton value="Siguiente" update="hpgDatos" action="#{listaMascotasController.irAlsiguiente()}" />
                    <p:commandButton value="Último" update="hpgDatos" action="#{listaMascotasController.irAlUltimo()}" />
                </h:panelGrid>


                <center>



                    <h:panelGroup id="hpgCrear">

                        <p:commandButton value="Nuevo"  update="hpgCrear" 
                                         rendered="#{!listaMascotasController.verNuevo}"
                                         action="#{listaMascotasController.verCrearPerro()}"  />


                        <p:commandButton value="Buscar por Posición" action="#{listaMascotasController.habilitarBuscar()}"
                                         update="hpgBuscarPosicion" />

                        <p:commandButton value="Eliminar primero" action="#{listaMascotasController.eliminarPrimero()}" update="hpgDatos"/> 


                        <p:commandButton value="Eliminar X posicion" action="#{listaMascotasController.habilitarBuscar()}"
                                         update="hpgEliminarPosicion"/>


                        <p:commandButton value="Invertir lista" update="hpgDatos" action="#{listaMascotasController.invertirLista()}"/>
                        <p:commandButton value="Vocales" update="hpgDatos" action="#{listaMascotasController.obtenervocal()}"/>

                      


                        <p:panel header="Crear   nuevo perro" rendered="#{listaMascotasController.verNuevo}" >

                            <h:outputLabel  value="Nombre"/> 

                            <p:inputText value="#{listaMascotasController.perroAdicionar.nombre}"/>

                            <h:outputLabel  value="Raza"/> 

                            <p:inputText value="#{listaMascotasController.perroAdicionar.raza}"/>
                            <h:outputLabel  value="Edad"/> 

                            <p:inputText value="#{listaMascotasController.perroAdicionar.edad}"/>

                            <h:outputLabel  value="Cantidad de pulgas"/> 

                            <p:inputText value="#{listaMascotasController.perroAdicionar.numeroPulgas}"/>


                            <p:commandButton value="Adicionar al inicio" update="@all"
                                             action="#{listaMascotasController.adicionarAlInicio()}"/>
                            <p:commandButton value="Adicionar al Final" update="@all"
                                             action="#{listaMascotasController.adicionarAlFinal()}"/>

                        </p:panel>

                    </h:panelGroup>




                    <h:panelGroup id="hpgBuscarPosicion">
                        <p:panel header="Buscar x Posición" rendered="#{listaMascotasController.verBuscar}">

                            <p:inputText value="#{listaMascotasController.posicionBuscar}"/> 

                            <p:commandButton value="Obtener x Posición" action="#{listaMascotasController.buscarPorPosicion()}"
                                             update="hpgBuscarPosicion"/>
                            <p:panelGrid columns="4" >

                                <p:outputLabel 
                                    value="#{listaMascotasController.perroEncontrado.nombre}" />
                                <p:outputLabel 
                                    value="#{listaMascotasController.perroEncontrado.edad}"/>

                                <p:outputLabel 
                                    value="#{listaperrosControllerDoble.perroEncontrado.raza}"/>

                                <p:outputLabel 
                                    value="#{listaMascotasController.perroEncontrado.numeroPulgas}" />




                            </p:panelGrid>
                        </p:panel>
                    </h:panelGroup>

                    <h:panelGroup id="hpgEliminarPosicion">
                        <p:panel header="Eliminar x Posición" rendered="#{listaMascotasController.verBuscar}">
                            <p:inputText value="#{listaMascotasController.posicionBuscar}"/> 
                            <p:commandButton value="posición que desea eliminar" action="#{listaMascotasController.eliminarPosicion()}"
                                             update="@all"/>

                        </p:panel>
                    </h:panelGroup>
                </center>
            </p:panel>
        </h:form>
    </h:body>
</html>
